$primary-color: #A8814E;
$secondary-color: #480A4C;
$tertiary-color: #302115;
.ant-layout {
    min-height: 100vh;
    background: #302115;
}

.ant-layout-sider {
    min-height: 100vh;
    position: fixed;
    height: 100%;
    width: 300px !important;
    flex: 0 0 300px !important;
    max-width: 300px !important;
}

.content {
    margin-left: 300px;
    width: 100%;
}

.categories-list {
    .ant-affix {
        background: $secondary-color;
    }
}

.header-controls {
    display: flex;
    button {
        border-radius: 0;
    }
    &-btns {
        display: flex;
    }
}

.header-active-category {
    .ant-select {
        display: inline;
    }
    .ant-select-selection {
        border-bottom: 1px solid $primary-color;
        border-top: 1px solid $primary-color;
        border-radius: 0;
    }
}

.menu-button {}

.pins-content {
    background: $tertiary-color;
}

.pins-list {}

.pin-tags {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    text-align: left;
}

.ant-card-actions>li {
    text-align: right;
    padding: 0 30px;
}

// .menu-button {
//     display: block;
//     margin: 20px auto;
// }